/* Navbar stle */
.jumbotron {
    background-color: black;
    /* background-image: url("files_stack.jpg"); */
    background-repeat: repeat;
    background-size: 100% 400%;
    padding: 0;
    text-align: center;
    margin: 0;
    border: black;
}

.Navbar-Text {
    color: black;
}